@import url('https://fonts.cdnfonts.com/css/manteka');
@import url('https://fonts.cdnfonts.com/css/spoof-trial');

/*
#553A4C - темно фиолетовый
#957377 - светло фиолетовый
#CBAC98 - бежевый
#f2e6cf - светлый бежевый
#c73136 - морковно-красный

"../images/ЦВЕТА.png"
*/

body {
    margin: 0;
    color: var(--dark-purple);  /* темно фиолетовый */
    font-family: 'Spoof Trial', sans-serif;
    -webkit-user-select: none;
    overflow-x: hidden;
}

:root {
    --square-size: 50px;
    --dark-purple: #553A4C;
    --light-purple: #957377;
    --beige: #CBAC98;
    --light-beige: #f2e6cf;
    --carrot-red: #c73136;
}

.main {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: top;
    height: 100vh;
    margin: 0;
    gap: 1em;
    overflow: auto;
}

#chess-board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 0;
    border-radius: 10px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2),
                0 6px 20px rgba(0, 0, 0, 0.19);
    min-width: 30vh;
    min-height: 30vh;
    max-width: 90vh;
    max-height: 90vh;
    width: calc(var(--square-size) * 8);
    height: calc(var(--square-size) * 8);
    resize: both;
}
.square {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;

    /*width: var(--square-size);
    height: var(--square-size);*/
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 100%;
    font-size: 60%;
}
.square.light {
    background-color: #f0d9b5;
}
.square.dark {
    background-color: var(--light-purple);
}
.square.selected {
    position: relative;
}
.square.possible-move {
    position: relative;
}
.square.possible-move-on-piece {
    box-shadow: 0px 0px 14px 0px rgba(0, 128, 0, 0.9) inset;
}
.square.selected::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: green;
    pointer-events: none;
}
.square.possible-move::after {
    content: '';
    position: absolute;
    width: 30%;
    height: 30%;
    border-radius: 50%;
    background-color: green;
    pointer-events: none;
}
.square.selected .piece {
    z-index: 100;
}
.square.last-move {
    background-color: rgba(199, 49, 54);

}

.piece {
    width: 80%;
    height: auto;
    pointer-events: none;
    transition: transform 0.1s ease-in-out;
}
.promote-button {
    background-color: #FFFFE0;
    width: 100%;
    height: 100%;
    position: absolute;
    border: none;
    box-shadow: 0px 0px 14px 0px rgba(34, 60, 80, 0.2);
    pointer-events: all;
}
.promote-button:hover {
    background-color: orange;
}
.no-click {
    pointer-events: none;
}


#chat-box {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 25vw;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2),
                0 6px 20px rgba(0, 0, 0, 0.2);
    position: relative;
}
#chat-box.collapsed {
    height: 7vh;
}
#chat-box-header{
    height: 7vh;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 0.5em;
    white-space: nowrap;

}
#chat-box-window{
    background-color: var(--light-beige);
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    padding: 0.3em;
    align-items: center;
    box-shadow: 0px 3px 8px -1px rgba(34, 60, 80, 0.2) inset;
}
#chat-box-window.hidden  {
    max-height: 0;
    opacity: 0;
    pointer-events: none;
    display: none;
}
#chat-box-window-start-message {
    border-radius: 30px;
    background-color: #e1d5c9;
    width: 50%;
    height: 3em;
    padding: 1em;
    word-wrap: break-word;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.my-message {
    align-self: flex-end;
    padding: 0.5em;
    margin: 0.2em;
    border-radius: 20px;
    background-color: #e1d5c9;
    max-width: 70%;
    word-wrap: break-word;
}
.your-message {
    align-self: flex-end;
    padding: 0.5em;
    margin: 0.2em;
    border-radius: 20px;
    background-color: #d34a4e;
    max-width: 70%;
    word-wrap: break-word;
    color: white;
    opacity: 80%;
}
#chat-box-window::-webkit-scrollbar {
    width: 0;
    height: 0;
}
#chat-box-footer {
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#chat-box-footer.hidden {
    max-height: 0;
    opacity: 0;
    pointer-events: none; /* Делает недоступным для нажатия */
    display: none;
}
#chat-box-input-text {
    flex: 1;
    margin: 0.5em;
}
#chat-box-send-button {
    width: 1.4em;
    height: 1.4em;
    margin-right: 0.5em;
    border: none;
    cursor: pointer;
    background: url("../images/chat-box-send-button.png") center/cover no-repeat;
    filter: brightness(0) saturate(100%) invert(23%) sepia(28%) saturate(530%) hue-rotate(267deg) brightness(96%) contrast(91%);
}
#chat-box-send-button:active {
    border: none;
    transform: scale(0.90);
}
input[type="text"] {
    width: 100%;
    height: 50%;
    padding: 5px;
    background-color: #D7D7D7;
    border: none;
    border-radius: 10px;
}
input[type="text"]::placeholder { /* подсказка */
    font-size: 16px;
}
input[type="text"]:focus  {
    decoration: none;
    outline: none;
}
#toggle-button {
    background: url("../images/chat-box-toggle-button.png") center/cover no-repeat;
    filter: brightness(0) saturate(100%) invert(23%) sepia(28%) saturate(530%) hue-rotate(267deg) brightness(96%) contrast(91%);
    border: none;
    cursor: pointer;
    font-size: 1em;
    height: 100%;
    aspect-ratio: 1 / 1;
    margin-left: auto;
    margin-right: 0.5em;
    transition: transform 0.3s ease-in-out;
    background-size: 50%;
}
#toggle-button:active {
    transform: scale(0.70);
}
#toggle-button.rotate {
    transform: rotate(180deg); /* Поворот на 180 градусов */
}

#move-box {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 25vw;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2),
                0 6px 20px rgba(0, 0, 0, 0.2);
    position: relative;
}
.move-box-player {
    height: 8vh;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 50% 50%;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
}
.mb-nickname {
    grid-column: 1;
    grid-row: 1;
    text-align: left;
    padding-left: 0.3em;
    padding-top: 0.2em;
}
.mb-rank {
    grid-column: 2;
    grid-row: 1;
    text-align: right;
    padding-right: 0.3em;
    color: gray;
    font-size: 0.7em;
}
.mb-eaten-pieces {
    grid-column: 1;
    grid-row: 2;
    text-align: left;
    padding-left: 0.3em;
}
.mb-timer {
    grid-column: 2;
    grid-row: 2;
    text-align: center;
    border-top-left-radius: 7px;
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.4);
}
.mb-nickname,
.mb-rank,
.mb-eaten-pieces,
.mb-timer {
    box-sizing: border-box;
    overflow: hidden;
}


#move-box-window {
    flex: 1;
    display: flex;
    background-color: var(--light-beige);
    overflow-y: auto;
    box-shadow: 0px 3px 8px -1px rgba(34, 60, 80, 0.2) inset;

}
#move-box-window::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.move-box-column {
    flex: 1;
}
#move-numbers {
    flex: 0.3;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#white-moves, #black-moves {
    flex: 1;
}
.move-box-row {
    border-bottom: 1px solid var(--light-purple);
    padding: 0.2em;
}
.to-bord {
    border-left: 1px solid var(--light-purple);
    border-right: 1px solid var(--light-purple);
}
.current {
    background-color: var(--carrot-red);
    color: white;
}

#move-box-btns {
    background-color: black;
    height: 2em;
    display: flex;
    justify-content: center;
    gap: 0.5em;
    background: transparent;
    padding: 0.3em;
}

#retry, #find-opponent {
    display: none;
}

#retry, #find-opponent, #white-flag, #draw {
    width: 15%;
    border: none;
    cursor: pointer;
}
#retry:active, #find-opponent:active, #white-flag:active, #draw:active {
    transform: scale(0.9);
}
#white-flag {
    background: url("../images/white-flag.png") center/cover no-repeat;
    filter: brightness(0) saturate(100%) invert(23%) sepia(28%) saturate(530%) hue-rotate(267deg) brightness(96%) contrast(91%);
    background-size: 70%;
}
#draw {
    background: url("../images/draw.png") center/cover no-repeat;
    filter: brightness(0) saturate(100%) invert(23%) sepia(28%) saturate(530%) hue-rotate(267deg) brightness(96%) contrast(91%);
    background-size: 70%;
}
#find-opponent {
    background: url("../images/find-opponent.png") center/cover no-repeat;
    filter: brightness(0) saturate(100%) invert(23%) sepia(28%) saturate(530%) hue-rotate(267deg) brightness(96%) contrast(99%);
    background-size: 65%;
}
#retry {
    background: url("../images/retry.png") center/cover no-repeat;
    filter: brightness(0) saturate(100%) invert(23%) sepia(28%) saturate(530%) hue-rotate(267deg) brightness(96%) contrast(91%);
    background-size: 80%;
}
#retry:hover, #find-opponent:hover, #white-flag:hover, #draw:hover{
    filter: brightness(0) saturate(100%) invert(22%) sepia(24%) saturate(5857%) hue-rotate(336deg) brightness(109%) contrast(92%);
}

#result-container {
    /*display: none;*/
    width: 100%;
    height: 4em;
    display: flex;
    flex-direction: column;
    background-color: var(--light-beige);
    text-align: center;
    justify-content: center;
    gap: 0.2em;
    color: var(--carrot-red);
}
#scale {
    font-family: 'Manteka', sans-serif;
    font-weight: bold;
}
#result {
    font-size: 1em;
}