@import url('https://fonts.cdnfonts.com/css/manteka');
@import url('https://fonts.cdnfonts.com/css/spoof-trial');

body {
    background-color: #f5f5f5;
    margin: 0;
    color: #553A4C;  /* темно фиолетовый */
    font-family: 'Spoof Trial', sans-serif;
    -webkit-user-select: none;
    overflow-x: hidden;
}

.container {
    width: 60%;
    height: auto;
    max-width: 400px;
    background: linear-gradient(90deg, #553A4C, #c73136);
    padding: 20px 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 7px rgba(0,0,0,0.25), 0 5px 7px rgba(0,0,0,0.22);
    filter: brightness(100%);
    color: white;
}


.return-button {
  position: relative;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #B58863;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.return-button:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5; /* светлый фон */
    height: 7vh;
    width: 100%;
    position: relative;
}
button:focus  {
    outline: none;
}

#logo {
    font-family: 'Manteka', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    margin-right: 1.3em;
    margin-left: 1em;
    text-decoration: none;
    background: linear-gradient(90deg, #553A4C, #c73136);
    -webkit-background-clip: text;
    color: transparent;
}
#logo:focus  {
    outline: none;
}

.navbar {
    display: flex;
    justify-content: center;
}
.navbar-list {
    list-style-type: none;
    display: flex;
    gap: 1em;
    padding: 0;
    margin: 0;
}
.navbar-link:focus  {
    outline: none;
    color: #c73136;
}
.navbar-link {
    text-decoration: none;
    -webkit-background-clip: text;
    font-size: 1em;
    color: #553A4C;  /* темно фиолетовый */
}
.navbar-link:hover {
    color: #c73136;
}

#fast-nav {
    margin-left: auto;
    margin-right: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
#versus-btn {
    background: url("../images/versus-btn.png") center/cover no-repeat;
    filter: brightness(0) saturate(100%) invert(23%) sepia(28%) saturate(530%) hue-rotate(267deg) brightness(96%) contrast(91%);
    width: 1.5em;
    height: 1.5em;
    border: none;
    cursor: pointer;
}
#versus-btn:hover {
    filter: brightness(0) saturate(100%) invert(22%) sepia(24%) saturate(5857%) hue-rotate(336deg) brightness(109%) contrast(92%);
}

#profile-box {
    margin-right: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    height: 100%;
    display: none;
}
#profile-box-nickname {
    font-size: 1.2em;
    -webkit-background-clip: border-box;
    background-color: transparent;
    color: #553A4C;
    border: none;
    font-family: 'Spoof Trial', sans-serif;
    cursor: pointer;
}
#profile-box:active #profile-box-nickname {
    color: black;
}
#profile-box-avatar {
    background: url("../images/profile-box-avatar.png") center/cover no-repeat;
    filter: brightness(0) saturate(100%) invert(23%) sepia(28%) saturate(530%) hue-rotate(267deg) brightness(96%) contrast(91%);
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
}
#profile-box:hover #profile-box-nickname {
    color: #c73136;
}
#profile-box:hover #profile-box-avatar {
    filter: brightness(0) saturate(100%) invert(22%) sepia(24%) saturate(5857%) hue-rotate(336deg) brightness(109%) contrast(92%);
}
#profile-box:active #profile-box-nickname {
    color: #553A4C;
}
#profile-box:active #profile-box-avatar {
    filter: brightness(0) saturate(100%) invert(21%) sepia(5%) saturate(3189%) hue-rotate(267deg) brightness(100%) contrast(84%);
}

#login{
    background: linear-gradient(100deg, #553A4C, #c73136);
    border-radius: 7px;
    border: none;
    color: white;
    width: 5em;
    height: 70%;
    cursor: pointer;
    margin-right: 0.5em;
}
#login:hover{
    background: #c73136;
}
#login:active {
    transform: scale(0.97);
}


#dropdown-navbar {
    width: 15vw;
    font-size: 0.8em;
    visibility: hidden;
    position: absolute;
    background-color: white;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    top: 100%;
    right: 0;
    z-index: 1000;
    transform: translateX(100%);
    transition: transform 0.2s ease-in-out, visibility 0s linear 0.3s;
    overflow: hidden;
}
#dropdown-navbar.show {
    visibility: visible;
    transform: translateX(0);
    transition-delay: 0s;
}

.dropdown-navbar-menu-item {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0.5em;
}
.dropdown-navbar-menu-item:hover {
    background-color: #f2e6cf;
    cursor: pointer;
}
.dropdown-navbar-menu-item:hover a{
    color: #c73136;
}
.dropdown-navbar-menu-item:hover img{
    filter: brightness(0) saturate(100%) invert(22%) sepia(24%) saturate(5857%) hue-rotate(336deg) brightness(109%) contrast(92%);
}
.dropdown-navbar-menu-item a {
    text-decoration: none;
    color: #553A4C;
    font-family: 'Spoof Trial', sans-serif;
}
.dropdown-navbar-menu-item img {
    height: 1.5em;
    aspect-ratio: 1 / 1;
    filter: brightness(0) saturate(100%) invert(23%) sepia(28%) saturate(530%) hue-rotate(267deg) brightness(96%) contrast(91%);
    margin-right: 0.4em;
}


#profile-info {
    display: flex;
    align-items: flex-start;
    padding: 2%;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2);
    border-radius: 0.5em;
    max-width: 60vw;
    min-height: 20vh;
    max-height: 30vh;
    margin-left: 0em;
    margin-top: 0.1em;
    height: 30vh;
    gap: 2%;
    margin: 1em;
}

 /* Изображение профиля */
#main-info-image {
     height: 100%;
     aspect: 1/1;
     object-fit: cover;
     border-radius: 7px;
     box-shadow: 0px 0px 50px 50px rgba(120, 120, 120, 0.16) inset;
}

 /* Детали профиля */
#profile-info-details {
     flex-grow: 1;
     display: flex;
     flex-direction: column;
}

 /* Никнейм */
#profile-info-nickname {
     font-size: 2em;
}

 /* Email */
#profile-info-email {
     font-size: 1em;
}

 /* Горизонтальный список друзей/подписчиков */
.profile-info-items {
    display: flex;
    gap: 0.1rem;
    justify-content: flex-start;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    text-indent: 0;
    margin-top: 0.5em;
    margin-bottom: 0;
}

 /* Стили для каждого элемента списка */
.profile-info-item {
     text-align: center;
     font-size: 1em;
     width: 5rem;
}

.profile-info-item span {
     display: block;
     font-size: 0.9em;
}

.digits {
    font-family: 'Manteka', sans-serif;
}