/* Regular */
@font-face {
    font-family: 'TeXGyreHeros';
    src: url('../fonts/TeXGyreHeros/dehinted-TeXGyreHeros-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Bold */
@font-face {
    font-family: 'TeXGyreHeros';
    src: url('../fonts/TeXGyreHeros/dehinted-TeXGyreHeros-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'TeXGyreHeros Condensed';
    src: url('../fonts/TeXGyreHeros/dehinted-TeXGyreHerosCondensed-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #f5f5f5;
    margin: 0;
    color: #553A4C;  /* темно фиолетовый */
    font-family: 'TeXGyreHeros', sans-serif;
    -webkit-user-select: none;
    overflow-x: hidden;
}

.container {
    width: 60%;
    height: auto;
    max-width: 400px;
    background: linear-gradient(90deg, #553A4C, #c73136);
    padding: 20px 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 7px rgba(0,0,0,0.25), 0 5px 7px rgba(0,0,0,0.22);
    filter: brightness(100%);
    color: white;
}


.return-button {
  position: relative;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #B58863;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.return-button:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#profile-info {
    display: flex;
    align-items: flex-start;
    padding: 2%;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2);
    border-radius: 0.5em;
    max-width: 60vw;
    min-height: 20vh;
    max-height: 30vh;
    margin-left: 0em;
    margin-top: 0.1em;
    height: 30vh;
    gap: 2%;
    margin: 1em;
}

 /* Изображение профиля */
#main-info-image {
     height: 100%;
     aspect: 1/1;
     object-fit: cover;
     border-radius: 7px;
     box-shadow: 0px 0px 50px 50px rgba(120, 120, 120, 0.16) inset;
}

 /* Детали профиля */
#profile-info-details {
     flex-grow: 1;
     display: flex;
     flex-direction: column;
}

 /* Никнейм */
#profile-info-nickname {
     font-size: 2em;
}

 /* Email */
#profile-info-email {
     font-size: 1em;
}

 /* Горизонтальный список друзей/подписчиков */
.profile-info-items {
    display: flex;
    gap: 0.1rem;
    justify-content: flex-start;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    text-indent: 0;
    margin-top: 0.5em;
    margin-bottom: 0;
}

 /* Стили для каждого элемента списка */
.profile-info-item {
     text-align: center;
     font-size: 1em;
     width: 5rem;
}

.profile-info-item span {
     display: block;
     font-size: 0.7em;
}

.digits {
    font-family: 'TeXGyreHeros', sans-serif;
}