/* Regular */
@font-face {
    font-family: 'TeXGyreHeros';
    src: url('../fonts/TeXGyreHeros/dehinted-TeXGyreHeros-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Bold */
@font-face {
    font-family: 'TeXGyreHeros';
    src: url('../fonts/TeXGyreHeros/dehinted-TeXGyreHeros-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'TeXGyreHeros Condensed';
    src: url('../fonts/TeXGyreHeros/dehinted-TeXGyreHerosCondensed-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

:root {
    --dark-purple: #553A4C;
    --light-purple: #957377;
    --beige: #CBAC98;
    --light-beige: #f2e6cf;
    --carrot-red: #c73136;
    --white-gray: #f5f5f5;
}

body {
    background-color: #f5f5f5;
    margin: 0;
    color: var(--dark-purple);
    font-family: 'TeXGyreHeros', sans-serif;
    -webkit-user-select: none;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    margin-top: 0.5em;
    padding: 2%;
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(34, 60, 80, 0.2);
    border-radius: 0.3em;
    overflow: hidden;
    box-sizing: border-box;
}

.profile-header {
    display: flex;
    align-items: flex-start;
    width: 100%;
    min-height: 20vh;
    max-height: 30vh;
    height: 40vh;
    gap: 2%;
    padding-bottom: 0.8em;
    border-bottom: 2px solid #ddd;
    position: relative;
}

.profile-avatar {
    height: 100%;
    aspect: 1/1;
    object-fit: cover;
    border-radius: 0.3em;
    box-shadow: 0px 0px 20px 50px rgba(120, 120, 120, 0.16) inset;
}

.profile-info {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.info-top-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.profile-nickname {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
}

.profile-rating {
    font-size: 1.5em;
    color: var(--light-purple);
    margin-left: 0.4em;
}

.profile-email {
    margin: 0.5em 0;
}

.info-bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: auto;
    width: 100%;
}

.create-date {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
}

.top-actions {
    background-color: transparent;
    margin-left: auto;
    display: flex;
    border: none;
    cursor: pointer;
    gap: 0.3rem;
    height: 2em;
}

.top-edit-button {
    background: var(--light-purple);
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 0.3em;
    cursor: pointer;
    margin-left: auto;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}
.top-edit-button:hover {
     background-color: var(--carrot-red);
}
.top-edit-button:active {
     transform: scale(0.95);
}

#top-versus-btn, #top-remove-friend-btn,
#top-cancel-btn, #top-accept-btn,
#top-decline-btn, #top-add-friend-btn {
    display: none;
}

#top-add-friend-btn {
    color: white;
    border: none;
    padding: 0.3rem 0.5rem;
    border-radius: 0.3em;
    cursor: pointer;
    margin-left: auto;
}

#top-add-friend-btn {
    background: green;
    opacity: 0.5;
}

#top-add-friend-btn :hover {
    opacity: 1;
}

#top-add-friend-btn:active{
     transform: scale(0.95);
}

.settings-button {
    width: 1.5em;
    height: 1.5em;
    background: url('../images/dropdown-navbar-settings.png') no-repeat center;
    filter: brightness(0) saturate(100%) invert(23%) sepia(28%) saturate(530%) hue-rotate(267deg) brightness(96%) contrast(91%);
    background-size: contain;
    border: none;
    cursor: pointer;
    padding: 0;
}

#dropdown-navbar {
    width: 15vw;
    font-size: 0.8em;
    visibility: hidden;
    position: absolute;
    background-color: white;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    border-radius: 0.3em;
    top: 100%;
    right: 0;
    z-index: 1000;
    transform: translateX(100%);
    transition: transform 0.2s ease-in-out, visibility 0s linear 0.3s;
    overflow: hidden;
    cursor: pointer;
}
#dropdown-navbar.show {
    visibility: visible;
    transform: translateX(0);
    transition-delay: 0s;
}

.dropdown-navbar-menu-item {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0.5em;
}
.dropdown-navbar-menu-item:hover {
    background-color: var(--carrot-red);
}
.dropdown-navbar-menu-item:hover a{
    color: white;
}
.dropdown-navbar-menu-item:hover img{
    filter: brightness(0) invert(1);
}
.dropdown-navbar-menu-item a {
    text-decoration: none;
    color: var(--dark-purple);
    font-family: 'TeXGyreHeros', sans-serif;
}
.dropdown-navbar-menu-item img {
    height: 1.5em;
    aspect-ratio: 1 / 1;
    filter: brightness(0) saturate(100%) invert(23%) sepia(28%) saturate(530%) hue-rotate(267deg) brightness(96%) contrast(91%);
    margin-right: 0.4em;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    gap: 10px;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.modal-hidden {
    display: none;
}

.tabs {
    display: flex;
    gap: 0em;
    border-bottom: 2px solid #ddd;
    margin-bottom: 0.6em;
    width: 100%;
}

.tab {
    background: none;
    border: none;
    padding: 0.5em;
    cursor: pointer;
    font-size: 1.1rem;
    color: var(--dark-purple);

}

.tab.active {
    color: var(--light-purple);
    border-bottom: 3px solid var(--light-purple);

}

.tab-content {
    width: 100%;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
    width: 100%;
}

.search-container {
    position: relative;
    display: inline-block;
    max-width: 60%;
}

.at-symbol {
    position: absolute;
    left: 0.5rem;
    top: 50%;
    transform: translateY(-55%);
    color: var(--dark-purple);
    z-index: 2;
    pointer-events: none;
}

.search-input {
    padding-left: 1.75rem !important;
    width: 100%;
    padding: 0.5rem 0.1rem;
    padding-right: 2rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 0.8rem;
    transition: all 0.1s ease;
    background: var(--white-gray);
}

.search-input:focus {
    outline: none;
    border-color: var(--dark-purple);
    box-shadow: 0 0 0 2px rgba(85, 58, 76, 0.2);
}

.clear-btn {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: var(--dark-purple);
    cursor: pointer;
    padding: 0;
    font-size: 1.2em;
    opacity: 0;
    transition: opacity 0.2s;
    pointer-events: none;
}

.search-input:not(:placeholder-shown) ~ .clear-btn {
    opacity: 1;
    pointer-events: auto;
}

.search-input::-webkit-search-cancel-button {
    display: none;
}

.search-button {
    background: var(--light-purple);
    color: white;
    border: none;
    padding: 0.2rem 0.4rem;
    border-radius: 0.3em;
    cursor: pointer;
    margin-right: auto;
}

.search-button:hover {
     background-color: var(--carrot-red);
}
.search-button:active {
     transform: scale(0.95);
}


.stats-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.7rem;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.stat-box {
    max-width: 100%;
    overflow: hidden;
    word-break: break-word;
    text-align: center;
    font-size: 0.8rem;
    padding: 0.5rem;
    background: white;
    border-radius: 0.3em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
}
.stat-box:hover {
     background: var(--light-purple);
     transform: translateY(-2px);
}
.stat-box:hover .stat-value {
    color: white !important;
}
.stat-box:hover {
    color: white !important;
}
.stat-value {
    font-size: clamp(1.2rem, 3vw, 2rem);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--light-purple);
}

.game-item {
    background: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#friends-tab{
    /* width: 100%; */
}

#friends-list{
    display: flex;
    flex-direction: column;
}

.friends-search{
    display: flex;
    gap: 0.3em;
}

.player-row {
    display: flex;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid var(--white-gray);
    transition: background 0.2s ease;
    cursor: pointer;
    transition: all 0.2s ease;
    background: var(--white-gray);
}

.nickname {
    flex: 1;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 0.5em;
    font-size: 0.9em;
}

.rating {
    flex-shrink: 0;
    width: 2em;
    text-align: right;
    font-size: 0.9em;
    color: var(--light-purple);
    margin-right: 5%;
}

.player-row:last-child {
    border-bottom: none;
    border-radius: 0 0 6px 6px;
}

.player-row:nth-child(even) {
    background: white;
}

.player-row:hover {
    transform: scale(1.02);
}

.actions {
    padding: 0 0.4rem;
    margin-left: auto;
    display: flex;
    border: none;
    cursor: pointer;
    gap: 0.3rem
}

.versus-btn {
    background: url("../images/versus-btn.png") center/cover no-repeat;
    filter: brightness(0) saturate(100%) invert(23%) sepia(28%) saturate(530%) hue-rotate(267deg) brightness(96%) contrast(91%);
    height: 100%;
    aspect-ratio: 1/1;
    border: none;
    cursor: pointer;
}

.remove-friend-btn {
    background: url('../images/times.png') center/cover no-repeat;
    filter: brightness(0) saturate(100%) invert(23%) sepia(28%) saturate(530%) hue-rotate(267deg) brightness(96%) contrast(91%);
    height: 100%;
    aspect-ratio: 1/1;
    border: none;
    cursor: pointer;
}

.versus-btn:hover, .remove-friend-btn:hover {
    filter: brightness(0) saturate(100%) invert(22%) sepia(24%) saturate(5857%) hue-rotate(336deg) brightness(109%) contrast(92%) !important;
}

.add-friend-btn {
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border:  none;
    cursor: pointer;
}

.friends-subtabs {
    margin-top: 0.5rem;
    border: 1px solid var(--white-gray);
    border-radius: 0.5rem;
    overflow: hidden;
}

.no-items{
    display: flex;
    padding: 0.5em 0.7em;
    border-bottom: 1px solid var(--white-gray);
    transition: all 0.2s ease;
    background: var(--white-gray);
    border-radius: 4px;
}

.decline-btn, .accept-btn, .cancel-btn {
    color: white;
    border: none;
    padding: 0.3rem 0.5rem;
    border-radius: 0.3em;
    cursor: pointer;
    margin-left: auto;
}
.accept-btn {
    background: green;
    opacity: 0.5;
}

.decline-btn, .cancel-btn {
    background: var(--carrot-red);
    opacity: 0.8;
}

.decline-btn:hover,
.cancel-btn:hover,
.accept-btn:hover {
    opacity: 1;
}

.decline-btn:active,
.accept-btn:active,
.cancel-btn:active{
     transform: scale(0.95);
}

.subtabs-header {
    display: flex;
    gap: 0em;
    width: 100%;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
}

.subtab {
    background: none;
    border: none;
    padding: 0.5em;
    cursor: pointer;
    font-size: 0.9rem;
    color: var(--dark-purple);
}

.subtab.active {
    color: var(--light-purple);
    border-bottom: 3px solid var(--light-purple);
}

.subtab-content {
    background: white;
    min-height: 200px;
}

.subtab-pane {
    display: none;
    padding: 1rem;
    padding-top: 0.5rem;
}

.subtab-pane.active {
    display: block;
}


@media (max-width: 768px) {
    .subtabs-header {
        flex-direction: column;
    }

    .subtab {
        padding: 0.6rem;
        text-align: center;
    }
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
}

.search-results-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    z-index: 1000;
    font-size: 1.0em;
}

.search-result-item {
    display: flex;
    align-items: center;
    padding: 0.3rem 0.4rem;
    width: 100%;
    box-sizing: border-box;
}

.search-result-item:hover {
    background-color: #f5f5f5;
}

.no-results {
    padding: 8px 12px;
    color: #666;
    font-style: italic;
}

.at-symbol {
    margin-right: 8px;
    color: #666;
}

.clear-btn {
    position: absolute;
    right: 8px;
    opacity: 0;
    transition: opacity 0.2s;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    color: #999;
}

.toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 12px 16px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    z-index: 1000;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.toast.success {
    background-color: green;
    opacity: 0.7;
}

.toast.error {
    background-color: var(--carrot-red);
}

.toast.warning {
    background-color: #FF9800;
}

.toast.fade-out {
    opacity: 0;
}

.toast-icon {
    font-size: 18px;
}

.subtab .badge {
    display: inline-block;
    min-width: 1.2em;
    padding: 0.2em 0.4em;
    margin-left: 0.4em;
    font-size: 0.7em;
    font-weight: bold;
    line-height: 1;
    color: white;
    background-color: var(--light-purple);
    border-radius: 10px;
    text-align: center;
}

.subtab.active .badge {
    background-color: var(--carrot-red);
}

@media (max-width: 768px) {
    .profile-container {
        width: 85%;
    }

    .stats-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .profile-container {
        width: 95%;
        padding: 3%;
    }

    .stat-box {
        padding: 0.3rem;
        font-size: 0.7rem;
    }
}













.about-container {
    padding: 1rem;
    padding-top: 0rem;
    max-width: 95%;
}

.about-section {
    position: relative;
    padding-bottom: 0.7rem;
}

.about-title {
    font-size: 1rem;
    color: var(--light-purple);
    border-bottom: 1px solid var(--beige);
    padding-bottom: 0.3rem;
    margin-top: 0em;
}

.about-content {
    margin-left: 1rem;
}

.about-list {
    margin-left: 1rem;
    padding-left: 1rem;
    list-style-type: none;
}

.about-list li {
    margin-bottom: 0.3rem;
    position: relative;
}

.about-list li::before {
    content: "-";
    color: var(--light-purple);
    position: absolute;
    left: -1rem;
}


.about-label {
    color: var(--light-purple);
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.about-input {
    width: 95%;
    max-width: 95%;
    min-height: 1.3rem;
    padding: 0.3rem;
    border: 1px solid var(--beige);
    border-radius: 0.3rem;
    color: var(--dark-purple);
    font-family: inherit;
    background-color: var(--white-gray);
    resize: vertical;
    overflow: auto;
}

.about-input:focus {
    outline: none;
    border-color: var(--light-purple);
    box-shadow: 0 0 0 2px rgba(149, 115, 119, 0.2);
}

.contact-input-group {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.contact-input-group span {
    min-width: 3rem;
    color: var(--light-purple);
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1.5rem;
}

.save-button, .cancel-button {
    padding: 0.5rem 1.5rem;
    border-radius: 0.3rem;
    cursor: pointer;
}

.save-button {
    background: var(--light-purple);
    color: white;
    border: none;
}

.save-button:hover {
    background: green;
    opacity: 0.7;
}

.cancel-button {
    background: none;
    border: 1px solid var(--light-purple);
    color: var(--light-purple);
}

.cancel-button:hover {
    background-color: var(--carrot-red);
    border: 1px solid var(--light-purple);
    color: white;
}

@media (max-width: 768px) {
    .about-container {
        padding: 1rem;
    }

    .contact-input-group {
        flex-direction: column;
        align-items: flex-start;
    }

    .contact-input-group span {
        margin-bottom: 0.3rem;
    }
}

.language-row {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    align-items: center;
}

.language-select, .level-select {
    flex: 1;
    min-width: 0;
}

.language-select option:disabled {
    color: #ccc;
    background-color: #f8f8f8;
}

.remove-language-btn {
    background: none;
    border: none;
    color: var(--carrot-red);
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0 0.5rem;
    line-height: 1;
}

.add-button {
    background: var(--beige);
    color: white;
    border: none;
    padding: 0.3rem 0.8rem;
    border-radius: 0.3rem;
    cursor: pointer;
}

.add-button:hover {
    background: var(--dark-purple);
}

#edit-birthdate {
    letter-spacing: 1px;
    font-family: monospace;
    max-width: 25%;
}

.about-input[type="text"] {
    text-align: center;
}

@media (max-width: 768px) {
    #edit-birthdate {
        font-size: 14px;
    }
}

#view-mode, #edit-mode {
    transition: opacity 0.3s ease;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-top: 1rem;
}


















.contact-input-group {

}

.social-input {
    display: flex;
    align-items: center;
    position: relative;
}

.social-icon {
    width: 1.5em;
    height:  1.5em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.telegram-icon {
    background: url('../images/telegram.png') center/contain no-repeat;
}

.vk-icon {
    background: url('../images/vk.png') center/contain no-repeat;
}

.about-input:valid {
    border-color: var(--beige);
}

.about-input:invalid:not(:placeholder-shown) {
    border-color: var(--carrot-red);
    box-shadow: 0 0 0 2px rgba(199, 49, 54, 0.1);
}

/* Подсказка при наведении на иконку */
.social-icon:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    left: 30px;
    top: -30px;
    background: var(--dark-purple);
    color: white;
    padding: 0.3rem 0.6rem;
    border-radius: 0.3rem;
    font-size: 0.8rem;
    white-space: nowrap;
}

/* Иконка email */
.email-icon {
    background: url('../images/email.png') center/contain no-repeat;
}

/* Специфичные стили для email поля */
input[type="email"] {
    direction: ltr;
   /* text-transform: lowercase;*/
}

/* Подсказка для email */
.email-icon:hover::after {
    content: "Введите ваш email";
    position: absolute;
    left: 30px;
    top: -30px;
    background: var(--dark-purple);
    color: white;
    padding: 0.3rem 0.6rem;
    border-radius: 0.3rem;
    font-size: 0.8rem;
    white-space: nowrap;
}










.games-history {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.game-item {
    display: flex;
    align-items: stretch; /* Ð Ð°ÑÑ‚ÑÐ³Ð¸Ð²Ð°ÐµÐ¼ Ð¿Ð¾ Ð²Ñ‹ÑÐ¾Ñ‚Ðµ */
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    background-color: #f9f9f9;
    cursor: pointer;
    max-height: 30vh;
    transition: background-color 0.3s;
}

.game-item:hover {
    background-color: #f0f0f0;
}

.game-left {
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.game-board-img {
    /* width: 100%;
    height: 100%; */
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.game-right {
    flex: 1;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 120px;
}

.game-top {
    font-size: 1.2rem;
    color: #666;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.game-middle {
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1;
}

.game-player {
    text-align: right;
    margin-right: auto;
    font-weight: bold;
}

.game-opponent {
    text-align: left;
    margin-left: auto;
    font-weight: bold;
}

.game-versus {
    margin: 0.2rem 0.5rem;
    align-self: flex-start;
    height: 1rem;
}

.game-rating {
    color: #777;
    font-size: 0.8rem;
    display: block;
    margin-top: 0.2rem;
}

.game-result {
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: auto;
}

.result-win {
    color: #4CAF50; /* Зелёный */
}

.result-loss {
    color: var(--carrot-red);
}

.result-draw {
    color: #777;
}

.result-active {
    color: #FFA726;
}

.game-timestamp {
    font-size: 0.8rem;
    color: #aaa;
    align-self: flex-end;
}