<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
<header class="header" th:fragment="header">
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <a href="/" id="logo">HelloChess</a>
    <nav class="navbar">
        <ul class="navbar-list">
            <li class="navbar-item"><a th:onclick="|document.location.href='@{/gameConstructor}'|" class="navbar-link">ИГРА</a></li>
            <li class="navbar-item"><a th:onclick="|document.location.href='@{/education}'|" class="navbar-link">ОБУЧЕНИЕ</a></li>
            <li class="navbar-item"><a th:onclick="|document.location.href='@{/challenge}'|" class="navbar-link">ЗАДАЧИ</a></li>
            <li class="navbar-item dropdown">
                <a class="navbar-link">СООБЩЕСТВО</a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/forum}" class="dropdown-item">Форум</a></li>
                    <li><a th:href="@{/top-players}" class="dropdown-item">Лучшие игроки</a></li>
                    <li><a th:href="@{/rating-distribution}" class="dropdown-item">Распределение рейтинга</a></li>
                </ul>
            </li>
            <li class="navbar-item admin-only" style="display: none;">
                <a th:onclick="|document.location.href='@{/administration}'|" class="navbar-link">УПРАВЛЕНИЕ</a>
            </li>
        </ul>
    </nav>
    <div id="fast-nav">
        <button id="versus-btn"></button>
    </div>
    <div id="notifications-container" class="notifications-container">
        <div id="notifications-list" class="notifications-list"></div>
    </div>
    <button id="login" th:onclick="|document.location.href='@{/registration}'|">SIGN IN</button>
        <div id="profile-box" th:onclick="goToProfile()">
        <button id="profile-box-nickname"></button>
        <div id="profile-box-avatar"></div>
    </div>

</header>
</body>
</html>