<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study with HC</title>
    <link rel="stylesheet" th:href="@{/static/header/header.css?v=__${#dates.format(#dates.createNow(), 'yyyyMMddHHmmss')}__}">
    <link rel="stylesheet" th:href="@{/static/education/education.css?v=__${#dates.format(#dates.createNow(), 'yyyyMMddHHmmss')}__}">
    <script th:src="@{/static/header/header.js?v=__${#dates.format(#dates.createNow(), 'yyyyMMddHHmmss')}__}" defer></script>
    <script th:src="@{/static/education/education.js?v=__${#dates.format(#dates.createNow(), 'yyyyMMddHHmmss')}__}" defer></script>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>

<div class="main">
    <nav class="e-navbar">
        <ul class="e-navbar-list">
            <li class="e-navbar-item"><a href="#piece" class="e-navbar-link">Фигуры</a></li>
            <li class="e-navbar-item"><a href="#techniques" class="e-navbar-link">Приемы</a></li>
            <li class="e-navbar-item"><a href="#tasks" class="e-navbar-link">Задачи</a></li>
        </ul>
    </nav>
    <div class="lessons"></div>
</div>

<script>
    function goBack() {
      window.history.back();
    }
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>



