<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/static/header/header.css?v=__${#dates.format(#dates.createNow(), 'yyyyMMddHHmmss')}__}">
    <link rel="stylesheet" th:href="@{/static/game/game.css?v=__${#dates.format(#dates.createNow(), 'yyyyMMddHHmmss')}__}">
    <script th:src="@{/static/header/header.js?v=__${#dates.format(#dates.createNow(), 'yyyyMMddHHmmss')}__}" defer></script>
    <script th:src="@{/static/game/game.js?v=__${#dates.format(#dates.createNow(), 'yyyyMMddHHmmss')}__}" defer></script>
    <title>HelloChess</title>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>

<div class="main">
    <audio id="moveSound" th:src="@{/static/sounds/movePiece.wav}"></audio>
    <audio id="eatSound" th:src="@{/static/sounds/eatPiece.wav}"></audio>
    <div id="chat-box">
        <div id="chat-box-header">Чат с Bull_Digga
            <button id="toggle-button"></button>
        </div>
        <div id="chat-box-window">
            <div id="chat-box-window-start-message">Добро пожаловать <br>в чат!</div>
        </div>
        <div id="chat-box-footer">
            <input type="text" id="chat-box-input-text" placeholder="Напишите сообщение...">
            <button id="chat-box-send-button"></button>
        </div>
    </div>
    <div id="chess-board"></div>
    <div id="move-box">
        <div class="move-box-player">
            <div class="mb-nickname">Bull_Digga</div>
            <div class="mb-rank">1</div>
            <div class="mb-timer" id="timer1">03:00</div>
            <div class="mb-eaten-pieces" id="opponent"></div>
        </div>
        <div id="move-box-window">
            <div class="move-box-column" id="move-numbers"></div>
            <div class="move-box-column" id="white-moves"></div>
            <div class="move-box-column" id="black-moves"></div>
        </div>
        <div id="result-container">
            <div id="scale"></div>
            <div id="result"></div>
        </div>
        <div id="move-box-btns">
            <button title="Сдаться" id="white-flag"></button>
            <button title="Предложить ничью" id="draw"></button>
            <button title="Реванш" id="retry"></button>
            <button title="Новый соперник" id="find-opponent"></button>
        </div>
        <div class="move-box-player">
            <div class="mb-nickname">madi_nusha</div>
            <div class="mb-rank">100</div>
            <div class="mb-timer" id="timer2">03:00</div>
            <div class="mb-eaten-pieces" id="me"></div>
        </div>
    </div>
</div>

<footer>
</footer>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.16/mediaelementplayer.min.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.5.1/dist/sockjs.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.16/mediaelement-and-player.min.js" defer></script>
</body>
</html>