<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HelloChess * Конструктор игры</title>
    <link rel="stylesheet" th:href="@{/static/header/header.css?v=__${#dates.format(#dates.createNow(), 'yyyyMMddHHmmss')}__}">
    <link rel="stylesheet" th:href="@{/static/gameConstructor/gameConstructor.css?v=__${#dates.format(#dates.createNow(), 'yyyyMMddHHmmss')}__}">
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.5.0/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@6.1.2/bundles/stomp.umd.min.js"></script>
    <script th:src="@{/static/header/header.js?v=__${#dates.format(#dates.createNow(), 'yyyyMMddHHmmss')}__}" defer></script>

    <script th:src="@{/static/webSocketManager.js?v=__${#dates.format(#dates.createNow(), 'yyyyMMddHHmmss')}__}" defer></script>
    <script th:src="@{/static/gameConstructor/gameConstructor.js?v=__${#dates.format(#dates.createNow(), 'yyyyMMddHHmmss')}__}" defer></script>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>

<div class="main">
    <div id="initiator">
        <div id="fast-start">
            <div id="classical" class="fast-start-variant">
                <h2>30 + 0</h2>
                <h3>Classical</h3>
            </div>
            <div id="blitz" class="fast-start-variant">
                <h2>3 + 2</h2>
                <h3>Blitz</h3>
            </div>
            <div id="rapid" class="fast-start-variant">
                <h2>10 + 5</h2>
                <h3>Rapid</h3>
            </div>
        </div>
        <div id="game-constructor">
            <h1>Конструктор игры</h1>
            <div id="time-inputs">
                <input type="number" class="time-input" placeholder="min" min="0">
                <span class="time-separator">+</span>
                <input type="number" class="time-input" placeholder="sec" min="0">

                <div class="time-numpad">
                    <div class="numpad-grid">
                        <button class="numpad-btn">1</button>
                        <button class="numpad-btn">2</button>
                        <button class="numpad-btn">3</button>
                        <button class="numpad-btn">4</button>
                        <button class="numpad-btn">5</button>
                        <button class="numpad-btn">6</button>
                        <button class="numpad-btn">7</button>
                        <button class="numpad-btn">8</button>
                        <button class="numpad-btn">9</button>
                        <button class="numpad-btn">0</button>
                        <button id="fake-btn" class="numpad-btn"></button>
                        <button id="numpad-close" class="numpad-btn">×</button>
                    </div>
                </div>
            </div>
            <div id="choose-opponent">
                <label for="friend-search" class="visually-hidden">Поиск соперника</label>
                <div class="search-container">
                    <span class="at-symbol">@</span>
                    <input
                            type="search"
                            id="friend-search"
                            name="friend-search"
                            placeholder="Найти соперника..."
                            aria-label="Поиск по нику друга"
                            class="search-input"
                    >
                    <button class="clear-btn" aria-label="Очистить поле">×</button>
                </div>
            </div>

            <div class="rating-range-container">
                <div class="rating-range-display">Рейтинг соперника:</div>
                <div class="rating-sliders">
                    <div class="slider-wrapper">
                        <input type="range" class="rating-slider negative" min="-500" max="0" value="-500">
                    </div>
                    <div class="rating-range-display">
                        <span class="range-negative">-500</span>
                        <span class="range-separator">/</span>
                        <span class="range-positive">+500</span>
                    </div>
                    <div class="slider-wrapper">
                        <input type="range" class="rating-slider positive" min="0" max="500" value="500">
                    </div>
                </div>
            </div>

            <div id="choose-color">
                <img id="black" th:src="@{/static/images/black/King.png}" alt="Чёрные фигуры">
                <img id="random" th:src="@{/static/images/chance.png}" alt="Случайный выбор">
                <img id="white" th:src="@{/static/images/white/King.png}" alt="Белые фигуры">
            </div>
            <button id="create-game">Создать игру</button>
        </div>
    </div>
    <div id="waiting-room">
        <h1>Комната ожидания</h1>
        <div class="players-list">
            <div class="table-header">
                <div class="column nickname">Имя</div>
                <div class="column rating">Рейтинг</div>
                <div class="column time-control">Время</div>
            </div>

            <div class="table-body">

            </div>
        </div>
    </div>
</div>

</body>
</html>


