<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="/profile/profile.css">
    <link rel="stylesheet" href="/header/header.css">
    <script th:src="@{/header/header.js}" defer></script>
    <script th:src="@{/profile/profile.js}" defer></script>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>

<div class="main">
    <div id="profile-info">
        <img id="main-info-image" src="../../static/images/pawn_icon.png" alt="Profile Picture">
        <div id="profile-info-details">
            <div id="profile-info-nickname"></div>
            <div id="profile-info-email"></div>

            <ul id="statistics" class="profile-info-items">
                <li class="profile-info-item">
                    <a href="#" class="navbar-link">
                        <span>Победы</span>
                        <span class="digits" id="Победы">12</span>
                    </a>
                </li>
                <li class="profile-info-item">
                    <a href="#" class="navbar-link">
                        <span>Поражения</span>
                        <span class="digits" id="Поражения">30</span>
                    </a>
                </li>
                <li class="profile-info-item">
                    <a href="#" class="navbar-link">
                        <span>Ничья</span>
                        <span class="digits" id="Ничья">46</span>
                    </a>
                </li>
            </ul>

            <ul id="networking" class="profile-info-items">
                <li class="profile-info-item">
                    <a href="#" class="navbar-link">
<!--                        <img src="../images/profile-box-avatar.png" alt="Друзья" class="icon">-->
                        <span>Друзья</span>
                        <span class="digits" id="friends">2</span>
                    </a>
                </li>
                <li class="profile-info-item">
                    <a href="#" class="navbar-link">
<!--                        <img src="../images/profile-box-avatar.png" alt="Подписчики" class="icon">-->
                        <span>Подписчики</span>
                        <span class="digits" id="followers">6</span>
                    </a>
                </li>
                <li class="profile-info-item">
                    <a href="#" class="navbar-link">
<!--                        <img src="../images/profile-box-avatar.png" alt="Подписки" class="icon">-->
                        <span>Подписки</span>
                        <span class="digits" id="following">103</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div id="activities">

    </div>
</div>


<!--<div class="container">-->
<!--    <span class="label" id="username">Username</span>-->
<!--    <div class="user-info">-->
<!--        <div class="info-item">-->
<!--            <span class="label">Email:</span>-->
<!--            <span class="value" id="email"></span>-->
<!--        </div>-->
<!--    </div>-->
<!--    <button class="return-button" onclick="goBack()">Играть!</button>-->
<!--</div>-->
<script>
    function goBack() {
      window.history.back();
    }
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="../../static/profile/profile.js"></script>

</body>
</html>


